* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.title {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.title__colored {
    font-size: 41px;
    line-height: 100%;
    color: #f9bf3b;
}

.title__big {
    font-size: 80px;
    line-height: 100%;
    color: #fff;
}

.btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border-width: 0;
    min-width: 315px;
    min-height: 72px;
    background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    padding: 0 10px;
}

.medium {
    font-weight: 500;
}

.promo {
    min-height: 800px;
    background: url('../img/backgrounds/Main_bg.jpg') center center / cover no-repeat;
    padding: 22px 0 51px 0;
}

.logo__img {
    display: block;
    margin: 0 auto;
}

.logo__text {
    text-align: center;
    margin-top: 13px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.promo h1 {
    margin-top: 52px;
}

.promo h2 {
    margin-top: 12px;
}

.promo__text {
    font-weight: 500;
    font-size: 21px;
    line-height: 133%;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.promo__text span {
    color: #f9bf3b;
    text-transform: uppercase;
}

.promo .btn {
    margin-top: 75px;
}

.promo__more_text {
    margin-top: 75px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.promo__more-img {
    display: block;
    margin: 10px auto 0 auto;
}

.intensive__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    color: #4a4a4a;
    margin-top: 15px;
}

.intensive__title {
    padding-top: 80px;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #252525;
}

.divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 14px auto 0 auto;
}

.intensive__subtitle {
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 15px;
}

.intensive__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 42px;
    padding-bottom: 80px;
}

.intensive__item {
    max-width: 360px;
    gap: 48px;
}

.intensive__img {
    width: 100%;
}

.intensive {
    background-color: #EFEFEF;
}

.info {
    background-color: #0f0B0B;
    padding: 100px 0 140px 0;
    min-height: 564px;
}

.info__title {
    font-size: 30px;
    color: #f9bf3b;
    text-align: right;
}

.info__text {
    position: relative;
    padding-left: 390px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    color: #fff;
    z-index: 2;
}

.info__text.medium {
    font-weight: 500;
}

.info__img {
    position: absolute;
    top: 93px;
    left: -83px;
    z-index: 1;
}

.skills {
    background: url("../img/backgrounds/Bg.jpg") center center / cover no-repeat;
    padding: 80px 0 102px 0;
}

.skills__title {
    font-weight: 400;
    font-size: 30px;
    color: #efefef;
}

.skills__wraper {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.skills__item {
    width: 224px;
}

.skills__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #efefef;
}

.skills__round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    flex-shrink: 0;
    background-color: #F9BF3B;
    border-radius: 100%;
}

.bonuses {
    padding: 80px 0 80px 0;
    background-color: #EFEFEF;
}

.bonuses__present {
    display: block;
    margin: 0 auto;
}

.bonuses__desc {
    margin-top: 80px;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #252525;
}

.btn__bonuses {
    margin-top: 60px;
}

.first-date {
    background-color: #0f0b0b;
}

.online-radio {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.first-webinar {
    padding-top: 40px;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.webinar__date-time {
    padding-top: 20px;
    font-size: 36px;
    color: #f9bf3b;
}

.webinar-date__desc {
    padding: 20px 0 50px 0;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #efefef;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    min-height: 165px;
    display: flex;
}

.footer-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
    text-decoration: none;
}

.footer-links a:visited {
    text-decoration: none;
    color: #888;
}

.footer-links a:link {
    text-decoration: none;
    color: #888;
}

.footer-links a:active {
    text-decoration: none;
    color: #888;
  }